<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    @*<img src="~/Image/一起帮logo.jpg" />*@
    <title>首页 · 一起帮</title>
    <style>
       
    </style>
</head>
<body>
    <header>
        <div >
            <a href="/" target="_blank">
                <img src="~/Image/一起帮logo.jpg" title="一起帮logo" alt="一起帮logo" />
            </a>
        </div>
        <div><h3 style="display:inline">一起帮 </h3>· 网络互助平台 </div>
    </header>

   
        @RenderBody()
  

  
    <footer>
        <span style="color:blue"><a href="/About/Us">关于我们</a></span>|
        <span style="color:blue"><a href="/FAQ">常见问题</a></span>|
        <span style="color:blue"><a href="/Suggest ">意见建议</a></span>|
        <span style="color:blue"><a href="/Notice">历史通知</a></span>|
        <span style="color:green"><a href="/Donate">友情捐赠</a></span>|
        <span style="color:blue"><a href="/About/Partner">诚邀合伙人</a></span>
        <div>
            <div style="color:black;float:left">友情链接：</div>
            <div style="color:blue;text-align:right;float:right">
                <a href="http://www.miitbeian.gov.com">渝ICP备18007191号（备案）</a>
                © 2020 - 首顾科技
            </div>
            <div style="clear:both"></div>
        </div>
        </footer>
</body>
</html>