@page
@{
//ViewData["Title"] = "fudong";
}
 
<! DOCTYPE html>
<html>
<head>
   <style>
       h1 {
           background-color: mediumvioletred;
           width: 20%;
           height: 60px;
           margin: 0px;
           padding: 0px;
           border: dashed 1px
       }
       h2 {
           background-color: blue;
           width: 30%;
           height: 140px;
           margin:0px;
           padding: 0px;
           border:solid 2px
       }
       h3 {
           background-color: blue;
           width: 35%;
           height: 180px;
           margin: 0px;
           padding: 0px;
           border: solid 2px
       }

   </style>
</head>

<body>
    <header>这是header
    
    </header>
    
    <main style="height:100000px">
        <div>
            <h1>这是header</h1>
            <h2>这是article</h2>
            <h3>这是aside</h3>
        </div>
        <div style="height:185px">
            <h1 style="float:left">这是header</h1>
            <h2 style="float:left">这是article</h2>
            <h3 style="float:right">这是aside</h3>
        </div>
        <div style="height:185px">
            <h1 style="float:left">这是header</h1>
            <h2 style="float:left">这是article</h2>
            <h3 style="float:left">这是aside</h3>
        </div>
        <div style="height:185px">
            <h1 style="float:right">这是header</h1>
            <h2 style="float:right">这是article</h2>
            <h3 style="float:left">这是aside</h3>
        </div>
        <div style="height:185px">
            <h1 style="float:right">这是header</h1>
            <h2 style="float:right">这是article</h2>
            <h3 style="float:right">这是aside</h3>
        </div>
        <div style="height:300px">
            <style>
            </style>
            <h1 style="float:left;width:50%">这是header</h1>
            <h2 style="clear:both;float:left;width:45%">这是article</h2>
            <h3 style="float:right;width:50%">这是aside</h3>
        </div>
        <div style="height: 185px">
            <h1 style="width:50%">这是header</h1>
            <h2 style="float:left;width:45%">这是article</h2>
            <h3 style="float:left;width:50%">这是aside</h3>
        </div>
        <div style="height:400px">
            <style>
            </style>
            <h1 style="float:right;width:50%">这是header</h1>
            <h2 style="clear:right;float:right;width:45%">这是article</h2>
            <h3 style="clear:left;width:50%">这是aside</h3>
        </div>
        <div style="height:185px">
            <style>
            </style>
            <h1 style="float:right;width:50%">这是header</h1>
            <h2 style="clear:right;float:right;width:45%">这是article</h2>
            <h3 style="float:right;width:50%">这是aside</h3>
        </div>



    </main>
    <aside></aside>
    <footer></footer>
</body>
</html>




 