@model ViewModel.Register.UserModel
@{
    //Layout = "../Shared/_Layout.cshtml";  //使用相对路径找到_Layout
    //Layout = null;  //没有Layout默认使用_Layout？？？
    Layout = Layout;
    //Layout = "~/Shared/_Layout";//如何使用绝对路径找到_Layout？？？
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Activate</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <div>
                <label>绑定邮箱：</label>
                @Html.TextBoxFor(u => u.EmailAddress)
                @Html.ValidationMessageFor(u => u.EmailAddress)
            </div>
            <div>
                <label>验证码：</label>
                @Html.TextBoxFor(u => u.EmailCode)
                @Html.ValidationMessageFor(u => u.EmailCode)
            </div>
        }
    </div>
</body>
</html>
