
@{
    ViewBag.Title = "发布新目标";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>发布新目标</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
</head>
<body>
    <header>发布新目标</header>
    <hr />
    <main class="container">
        <div class="row">
            <article class="col-4">
                <form method="post"class="col-4" >
                    <div>
                        <label>标题（必填）：</label>
                        <br />
                        <input type="text" name="Title" placeholder="简明扼要，多个目标请分开发布" />
                    </div>
                    <div>
                        <label>详细说明：</label>
                        <br />
                        <textarea name="Description" rows="10"></textarea>
                    </div>
                    <div>
                        <label>标签（必填）：</label>
                        <br />
                        <input type="text" name="Title" placeholder="简明扼要，多个目标请分开发布" />
                    </div>
                    <div>
                        <label>开始执行（必填）：</label>
                        <br />
                        <input type="datetime" name="Start" />
                    </div>
                    <div>
                        <label> 目标结束（必填）：</label>
                        <br />
                        <input type="datetime" name="End" />
                    </div>
                    <div>
                        <label>每周可请假：</label>
                        <br />
                        <select name="RestDay">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>
                    <div>
                        <label>证明：</label>
                        <br />
                        <input type="text" name="ProvideString" placeholder="证据的文字描述" />
                        <br />
                        <input type="url" name="ProvideWebsite" placeholder="可以访问的地址，详见详细说明" />
                    </div>
                    <div>
                        <label>好心人最多：</label>
                        <br />
                        <select name="Kinder">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div>
                        <label>未交作业罚金（必填）：（现有 枚  ）</label>
                        <br />
                        <input type="text" name="PunishMoney" placeholder="正整数，建议10枚以上" />
                    </div>
                </form>
            </article>
            <aside class="col-6">
                <h3>说明</h3>
                <ol>
                    <li>
                        简单来说，“一起督促吧”就干这三件事：
                        <ul>
                            <li>
                                发布一个目标，押上一堆  帮帮币
                            </li>
                            <li>
                                每天交作业。如果未交作业，“帮帮币”没了，(；′⌒`)
                            </li>
                            <li>
                                一群人互相督促，交上来的作业得验收/拒收，未交作业的“帮帮币”大家抢！
                            </li>
                        </ul>
                    </li>
                    <li>
                        管用不管用？你试试看啊。我之前用过（现在也在用：每天一篇博客），还是蛮不错的。因为：
                        <ul>
                            <li>
                                会有压力。当前，前提是你要设置让你足够“肉痛”的未交作业惩罚
                            </li>
                            <li>
                                有伴。人是一种社会动物，很多时候我们是被寂寞打败的。一件不是那么容易坚持的事，几个人一起做，就不显得那么难了——当然，要志同道合，拖后腿的损友除外。
                            </li>
                            <li>
                                有成就感。“一起督促吧”会记录下你每一天的完成情况，一段时间回头看看，还是蛮有成就感的。
                            </li>
                        </ul>
                    </li>
                    <li>
                        目标应明确独立，多个目标请分开发布。比如你虽然是同时既想健身又想学英语，但还是将其发布为两个个目标为佳。
                    </li>
                    <li>
                        标题以简明扼要为佳，比如：每天跑步三十分钟。
                    </li>
                    <li>
                        详细说明和标签都有助于你别人了解你的目标，帮助你找到最“合适”的“好心人”。
                    </li>
                    <li>
                        建议你设置一个目标完成的时间，这样能阶段性的检查总结，更有成就感。
                    </li>
                    <li>
                        我们按“周”来计划目标的具体完成步骤（任务）。比如你计划每周星期一到星期五学习、周末休息，你就只需要勾选周一到周五即可，周末不要勾选。系统会自动忽略你未勾选的天数。而所有已勾选的天数，你都应该及时的“交作业”并由“好心人”验收，否则你的任务记录会判罚为“未交作业”。
                    </li>
                </ol>
            </aside>
        </div>
    </main>
</body>
</html>

