_17bang.Pages.Shared._KeywordsModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Keywaords</h1>
@foreach (var course in Model)
{
    <span>@course</span>
}