@*@model _17bang.Pages.Shared._KeywordsModel*@
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Keywaords</h1>
<h2>@ViewData["Title"]</h2>
<table border="1">
    使用for实现
    @foreach (var course in Model)
    {
         @course 
    }
</table>
<table border="1">
    使用model实现
    @foreach (var name in Model)
    {
        @name 
    }
</table>