@model ViewModel.Article.ArticleModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        foreach (var item in Model.Items)
        {
               @Html.Partial("_Articles",item)
        }
        @*@Html.Action("_Items","Keyword")  //有问题 dbcontext被disposed*@
    }
    <div>
    </div>
</body>
</html>
