@model  ViewModel.Personal.PersonalInformationModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @*头像的上传*@
        <form method="post" enctype="multipart/form-data"> @*原生的html*@
        <input type="file" name="icon" multiple accept="image/*" />
        </form>
        @using (Html.BeginForm("Index","PersonalInformation",FormMethod.Post,new {enctype="multipart/from-data" }))
        {

        }
    </div>
</body>
</html>
