@page
@{
    ViewData["Title"] = "常见问题——一起帮";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="一起帮 " />
    <meta name="description" content="一起帮常见问题介绍" />
    <link rel="shortcut icon" type="image/icon" href="/Image/一起帮logo.jpg" media="screen" />
    <title>常见问题——一起帮</title>
</head>
<body>
    <header>
        <a href="/" target="_blank" style="display:block;float:left">
            <img src="~/Image/一起帮logo.jpg" alt="一起帮logo" title="一起帮网络互助" />
        </a>
        <span style="display:block;float:left">一起帮 · 网络互助平台</span>
        <div style="float:right">
            <a href="/FAQ#">求助</a>
            <ul>
                <li><a href="/Course/Confusion/New">督导班</a></li>
                <li><a href="Problem">列表</a></li>
                <li><a href="/Course/Confusion/New">疑问发布</a></li>
                <li><a href="/Course/Confusion">疑问列表</a></li>
                <li><a href="/Problem">列表</a></li>
                <li><a href="Problem/New">发布</a></li>
            </ul>
        </div>
        <div style="float:right">
            <a href="/FAQ#">督促</a>
            <ul>
                <li><a href="/Plan/New">求督促</a></li>
                <li><a href="/Plan">督促别人</a></li>
                <li><a href="/Plan?my=">我的目标</a></li>
                <li><a href="/Plan?my=">我的督促</a></li>
                <li><a href="/none">未交作业</a></li>
            </ul>
        </div>
        <div style="float:right">
            <a href="/Article">文章</a>
            <ul>
                <li><a href="/Article">列表</a></li>
                <li><a href="/Article/_Apply">开通</a></li>
            </ul>
        </div>
        <div style="float:right">
            <a href="/FAQ#">未登录</a>
            <ul>
                <li><a href="/Log/On">登录</a></li>
                <li><a href="/Register/ ">注册</a></li>
                <li><a href="/Password/Forget">忘记密码</a></li>
            </ul>
        </div>
    </header>
    <hr style="clear:both" />

    <main style="position:relative;left:0px;right:0px;float:left;width:70%">
        <style>
            .FAQColcor {
                color: blue;
            }
        </style>
        <p style="position:absolute;left:0px;right:0px;background-color:gray;height:auto;width:auto">
            喵了个咪出售给 叶飞 ⑩ 的帮帮币已打包（交易单号：65），内含  帮帮币 10枚，
            请按约定及时（24小时以内）支付人民币10元后要求卖方开箱。如有任何问题，可查看查看帮助或联系我们
        </p>
        <div style="height:50px"></div>
        <article style="font-family:黑体;font-size:50px;clear:both;position:relative;left:0px;top:30px">常见问题</article>
        <hr />
        <div class="FAQColcor" style="font-size:20px"><a href="/FAQ/Account">账户</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：邀请码是怎么一回事？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：系统如何是确定“最后（上次）登录时间”的？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：“最后登录时间”有什么用处？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：邮箱有什么作用？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：为什么我收不到邮件通知？</a></div>
        <br />
        <div class="FAQColcor" style="font-size:20px"><a href="/FAQ/Account"> 帮帮点</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：什么是帮帮点？有什么用处？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：如何才能获得帮帮点？</a></div>
        <br />
        <div class="FAQColcor" style="font-size:20px"><a href="/FAQ/Account">帮帮币</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：什么是帮帮币？有什么用处？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">  Q：引入“帮帮币”的目的是什么？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：如何才能获得帮帮币？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">  Q：作为买方，如何保证交易安全？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：如何出售帮帮币？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：如何成为“系统推荐卖家”？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：作为卖方，如何保证交易安全？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：帮帮币出售时为什么要设置“门槛”？</a></div>
        <br />
        <div class="FAQColcor" style="font-size: 20px"><a href="/FAQ/Account">帮帮豆</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：什么是帮帮豆？有什么用处？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：怎么获取帮帮豆？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：为什么我反复登录帮帮豆都没有变化？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：我昨天剩余的帮帮豆那去了？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：一张表区分帮帮“点/豆/币”？</a></div>
        <br />
        <div class="FAQColcor" style="font-size:20px"><a href="/FAQ/Account">消息和通知</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：用户消息和系统通知有什么区别？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：如何设置用户消息接收？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：我能不能禁用掉系统通知？</a></div>
        <br />
        <div class="FAQColcor" style="font-size:20px"><a href="/FAQ/Account">求助流程</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：为什么发布一个求助这么麻烦？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：正常的求助流程应该是怎样的？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：那么，“非正常”的求助流程呢？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：应答上面的图标有何含义？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：发布如何设置悬赏数额？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：“据实结算”是怎么一回事？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：“开始协助”如何操作的？为什么非常重要？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：协助超时提醒是怎么回事？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：求助人一直不酬谢帮帮币怎么办？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：酬谢时默认的评价为什么是四星？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：问题没有解决？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：为什么求助没有解决也要扣我的帮帮币？/(ㄒoㄒ)/~~</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：为什么要写总结？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：什么时候可以撤销？</a></div>
        <br />
        <div class="FAQColcor" style="font-size:20px"><a href="/FAQ/Account">账户</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：邀请码是怎么一回事？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：系统如何是确定“最后（上次）登录时间”的？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：“最后登录时间”有什么用处？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：邮箱有什么作用？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：为什么我收不到邮件通知？</a></div>
        <br />
        <div class="FAQColcor" style="font-size:20px"><a href="/FAQ/Account">账户</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：邀请码是怎么一回事？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：邮箱有什么作用？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：为什么我收不到邮件通知？</a></div>
        <br />
        <div class="FAQColcor" style="font-size:20px"><a href="/FAQ/Account">督促</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：简单介绍一下“督促”这个功能吧？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：什么是“目标”？什么是“作业”？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：为什么“交作业”可以延期，还可以请假？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：如何设置和提交“证据”？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：如何选择“好心人”的人数？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：不交作业的惩罚是……？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：好心人如何获得未交作业的奖励？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：交上去的作业被无理拒绝验收怎么办？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：不想玩了肿么办？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：完成情况里的图标是什么意思？</a></div>
        <br />
        <div class="FAQColcor" style="font-size:20px"><a href="/FAQ/Account">文章</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：如何成为精选评论？</a></div>
        <br />
        <br />
        <div class="FAQColcor" style="font-size:20px"><a href="/FAQ/Account">意见建议</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：为什么会获得管理员奖励？</a></div>
        <br />
        <div class="FAQColcor" style="font-size:20px"><a href="/FAQ/Account">关键字</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：发布求助时为什么要填写关键字？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：关键字如何填写为佳？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：什么是用户关注的关键字？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：用户关注有什么用？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：用户关注如何设置？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：用户关注自动如何补足？</a></div>
        <br />
        <div class="FAQColcor" style="font-size:20px"><a href="/FAQ/Account">广告推广</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：为什么会允许社区用户在“一起帮”上做广告推广？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：“一起帮”有哪些推广形式？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：“联系方式栏推广”里的捐赠是什么意思？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：侧边栏广告的花费？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：文章下面的广告如何发布？</a></div>
        <br />
        <div class="FAQColcor" style="font-size:20px"><a href="/FAQ/Account">账户</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：邀请码是怎么一回事？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：系统如何是确定“最后（上次）登录时间”的？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：“最后登录时间”有什么用处？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：邮箱有什么作用？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：为什么我收不到邮件通知？</a></div>
        <br />
        <div class="FAQColcor" style="font-size:20px"><a href="/FAQ/Account">捐赠</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：为什么会想到“捐赠”？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：为什么要留下用户名？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：没有在“一起帮”注册可以捐赠吗？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：“认领”是一个什么概念？</a></div>
        <br />
        <div class="FAQColcor" style="font-size:20px"><a href="/FAQ/Account">测试</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account">Q：为什么会有“新人”测试？</a></div>
        <div class="FAQColcor"><a href="/FAQ/Account"> Q：为什么会有“首次求助”测试？</a></div>
        <br />


    </main>
    <aside style="float:left;width:25%">aside</aside>
    <div style="@*float:left;*@width:2%">
        <div style="background-color:deepskyblue;width:50px;height:50px;position:fixed;left:96%;top:500px">帮助</div>
        <div style="background-color:deepskyblue;width:50px;height:50px;position:fixed;left:96%;top:550px">反馈</div>
    </div>
    <hr style="clear:both" />
    <footer>
        <span style="color:blue"><a href="/About/Us">关于我们</a></span>
        <span style="color:blue"><a href="/FAQ">常见问题</a></span>
        <span style="color:blue"><a href="/Suggest ">意见建议</a></span>
        <span style="color:blue"><a href="/Notice">历史通知</a></span>
        <span style="color:green"><a href="/Donate">友情捐赠</a></span>
        <span style="color:blue"><a href="/About/Partner">诚邀合伙人</a></span>
        <div>
            <div style="color:black;float:left">友情链接：</div>
            <div style="color:blue;text-align:right;float:right">
                <a href="http://www.miitbeian.gov.com">渝ICP备18007191号（备案）</a>
                © 2020 - 首顾科技
            </div>
            <div style="clear:both"></div>
        </div>
    </footer>
</body>
</html>
